<div ng-controller="AdminCtrl">
  <h1> hi mr. admin</h1>
  <h2>Trades:</h2>
  <table class="table-bordered table"> 
    <thead>
      <tr>
        <th ng-repeat="key in keys(adminTrades[0])"> {{key}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="adminTrade in adminTrades">
        <td ng-repeat="key in keys(adminTrades[0])">{{adminTrade[key]  }}</td>
      </tr>
    </tbody>

  </table>
  <h2>Users:</h2>
  <table class="table-bordered table"> 
    <thead>
      <tr>
        <th ng-repeat="key in keys(adminUsers[0])"> {{key}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="adminUser in adminUsers">
        <td ng-repeat="key in keys(adminUsers[0])">{{adminUser[key]  }}</td>
      </tr>
    </tbody>
  </table>
  <h2>Uploads:</h2>

  <table class="table-bordered table"> 
    <thead>
      <tr>
        <th ng-repeat="key in keys(adminUploads[0])"> {{key}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="adminUpload in adminUploads">
        <td ng-repeat="key in keys(adminUploads[0])">{{adminUpload[key]  }}</td>
      </tr>
    </tbody>
  </table>
  <h2>Mails:</h2>
  <table class="table-bordered table"> 
    <thead>
      <tr>
        <th ng-repeat="key in keys(adminMails[0])"> {{key}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="adminMail in adminMails">
        <td ng-repeat="key in keys(adminMails[0])">{{adminMail[key]  }}</td>
      </tr>
    </tbody>

  </table>
</div>
