<script type='text/ng-template' id='groupTableSnippet'>
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th class="sortable" ng-click="setSort('group')">Symbol</th>
            <th class="sortable" ng-click="setSort('netCash')">Net Cash</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="pnlGroup in groups">
            <td>{{pnlGroup.group }}</td>
            <td>{{pnlGroup.netCash | currency}}</td>
          </tr>
        </tbody>
      </table>

</script>
<div ng-controller="HomeCtrl">
  <div id="authCodeEntryModal" class="modal hide fade" data-keyboard='false' data-backdrop="static">
    <div class="modal-header">
      <h3>Authorization Code Required:</h3>
    </div>
    <form ng-submit='submitAuthCode()'>
      <div class="modal-body">
        <p>Authorization Code:</p>
        <input ng-model="authcode">
      </div>
      <div class="modal-footer">
        <a href='/logout' class='btn btn-danger'>Nevermind, Logout</a>
        <input type="submit" class="btn btn-primary"/>
      </div>
    </form>
  </div>

  <div class='ng-show: isAdmin()'>
    <a href='#admin' class='btn'>Admin Page</a>
  </div>


  <!-- <h1> name = {{user.name}} </h1> --> 
  <div class="row-fluid">
    <div class="span8">
      <h3> Welcome </h3>
      <h4> Your email is = {{user.email}} </h4>
      <h4> 
        Mail your Interactive Brokers Daily Trade Reports to:
        <br>
        <a href="mailto://{{user.reportDropboxAddr[0]}}">{{user.reportDropboxAddr[0]}}</a>
      </h4>
    </div>
    <div class="span4">
      <h4>If you have TradeStation PDFs, you can upload here:</h4>
      <div app-upload>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6" ng-controller="UndlGroupCtrl">
      <h4>PnL per underlying symbol</h4>
      <ng-include src="'groupTableSnippet'"></ng-include>
    </div>
    <div class="span6" ng-controller="DurationGroupCtrl">
      <h4>PnL per duration symbol</h4>
      <ng-include src="'groupTableSnippet'"></ng-include>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <hr>
      <p>
        Filter Trades: 
        <input ng-model="tradeFilter">
        <a ng-click="tradeFilter = ''">Clear Filter</a>
      </p>
      <h3>Closed Trades </h3>
      <h4> 
        Total PnL:  <span ng-bind="filteredClosedTrades  | pluck:'netCash' | sum | currency"/>
      </h4>
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th class="sortable" ng-click="setTradeSort('symbol')">Symbol</th>
            <th class="sortable" ng-click="setTradeSort('netCash')">Net Cash</th>
            <th class="sortable" ng-click="setTradeSort('Size')">Size</th>
            <th class="sortable" ng-click="setTradeSort('maxPrin')">Max Prin</th>
            <th class="sortable" ng-click="setTradeSort('duration')">Duration</th>
            <th class="sortable" ng-click="setTradeSort('vwapBuy')">vwapBuy</th>
            <th class="sortable" ng-click="setTradeSort('vwapSell')">vwapSell</th>
            <th >Security Description</th>
            <th class="sortable" ng-click="setTradeSortUnderlying()">Underlying Symbol</th</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="trade in filteredClosedTrades = (trades | filter: tradeFilter | filter: {isOpen:false} )">
            <td><a ng-click="setTradeFilter(trade.symbol)">{{trade.symbol}}</a></td>
            <td>{{trade.netCash | currency}}</td>
            <td>{{trade.totalBuy}}</td>
            <td>{{trade.maxPrin | currency}}</td>
            <td>{{trade.duration | timespan}}</td>
            <td>{{trade.vwapBuy | currency}}</td>
            <td>{{trade.vwapSell | currency}}</td>
            <td>{{trade.securityDesc }}</td>
            <td>{{trade.underlyingSecurity.symbol }}</td>
            <td>
              Fills:
              <table class="table table-bordered table-condensed fill-minitable">
                <thead>
                  <tr><td>Qty</td><td></td><td>Price</td><td>Date</td></tr>
                </thead>
                <tbody>
                  <tr ng-repeat="fill in trade.fills">
                    <td> {{fill.qty}}</td>
                    <td> @ </td>
                    <td>{{fill.avgPx}}</td> 
                    <td>{{fill.date | date:'medium'}}</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <h3> Open Trades</h3>
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th class="sortable" ng-click="setTradeSort('symbol')">Symbol</th>
            <th class="sortable" ng-click="setTradeSort('totalBuy')">Bot</th>
            <th class="sortable" ng-click="setTradeSort('totalSell')">Sold</th>
            <th class="sortable" ng-click="setTradeSort('date')">Open Date
            <th class="sortable" ng-click="setTradeSort('vwapBuy')">vwapBuy</th>
            <th class="sortable" ng-click="setTradeSort('vwapSell')">vwapSell</th>
            <th >Security Description</th>
            <th class="sortable" ng-click="setTradeSortUnderlying()">Underlying Symbol</th</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="trade in trades | filter: tradeFilter | filter: {isOpen:true}">
            <td><a ng-click="setTradeFilter(trade.symbol)">{{trade.symbol}}</a></td>
            <td>{{trade.totalBuy}}</td>
            <td>{{trade.totalSell}}</td>
            <td>{{trade.openDate | date:'medium'}}</td>
            <td>{{trade.vwapBuy | currency}}</td>
            <td>{{trade.vwapSell | currency}}</td>
            <td>{{trade.securityDesc }}</td>
            <td>{{trade.underlyingSecurity.symbol }}</td>
            <td>
              Fills:
              <table class="table table-bordered table-condensed fill-minitable">
                <thead>
                  <tr><td>Qty</td><td></td><td>Price</td><td>Date</td></tr>
                </thead>
                <tbody>
                  <tr ng-repeat="fill in trade.fills">
                    <td> {{fill.qty}}</td>
                    <td> @ </td>
                    <td>{{fill.avgPx}}</td> 
                    <td>{{fill.date | date:'medium'}}</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
