<div ng-controller="HomeCtrl">
  <!-- <h1> name = {{user.name}} </h1> --> 
  <div class="row-fluid">
    <div class="span8">
      <h2> email = {{user.email}} </h2>
      <h2> 
        dropbox = 
        <a href="mailto://{{user.reportDropboxAddr[0]}}">{{user.reportDropboxAddr[0]}}</a>
      </h2>
    </div>
    <div class="span4">
      <div app-upload>
        Files go here
      </div>
    </div>
  </div>
  <p>
    Filter Trades: 
    <input ng-model="tradeFilter">
    <a ng-click="tradeFilter = ''">Clear Filter</a>
  </p>
  <h3>Closed Trades </h3>
  <h4> 
    Total PnL:  <span ng-bind="filteredClosedTrades  | pluck:'netCash' | sum | currency"/>
  </h4>
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th class="sortable" ng-click="setTradeSort('symbol')">Symbol</th>
        <th class="sortable" ng-click="setTradeSort('netCash')">Net Cash</th>
        <th class="sortable" ng-click="setTradeSort('Size')">Size</th>
        <th class="sortable" ng-click="setTradeSort('maxPrin')">Max Prin</th>
        <th class="sortable" ng-click="setTradeSort('duration')">Duration</th>
        <th class="sortable" ng-click="setTradeSort('vwapBuy')">vwapBuy</th>
        <th class="sortable" ng-click="setTradeSort('vwapSell')">vwapSell</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="trade in filteredClosedTrades = (trades | filter: tradeFilter | filter: {isOpen:false} )">
        <td><a ng-click="setTradeFilter(trade.symbol)">{{trade.symbol}}</a></td>
        <td>{{trade.netCash | currency}}</td>
        <td>{{trade.totalBuy}}</td>
        <td>{{trade.maxPrin | currency}}</td>
        <td>{{trade.duration | timespan}}</td>
        <td>{{trade.vwapBuy | currency}}</td>
        <td>{{trade.vwapSell | currency}}</td>
        <td>
          Fills:
          <table class="table table-bordered table-condensed fill-minitable">
            <thead>
              <tr><td>Qty</td><td></td><td>Price</td><td>Date</td></tr>
            </thead>
            <tbody>
              <tr ng-repeat="fill in trade.fills">
                <td> {{fill.qty}}</td>
                <td> @ </td>
                <td>{{fill.avgPx}}</td> 
                <td>{{fill.date | date:'medium'}}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <h3> Open Trades</h3>
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th class="sortable" ng-click="setTradeSort('symbol')">Symbol</th>
        <th class="sortable" ng-click="setTradeSort('totalBuy')">Bot</th>
        <th class="sortable" ng-click="setTradeSort('totalSell')">Sold</th>
        <th class="sortable" ng-click="setTradeSort('date')">Open Date
        <th class="sortable" ng-click="setTradeSort('vwapBuy')">vwapBuy</th>
        <th class="sortable" ng-click="setTradeSort('vwapSell')">vwapSell</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="trade in trades | filter: tradeFilter | filter: {isOpen:true}">
        <td><a ng-click="setTradeFilter(trade.symbol)">{{trade.symbol}}</a></td>
        <td>{{trade.totalBuy}}</td>
        <td>{{trade.totalSell}}</td>
        <td>{{trade.openDate | date:'medium'}}</td>
        <td>{{trade.vwapBuy | currency}}</td>
        <td>{{trade.vwapSell | currency}}</td>
        <td>
          Fills:
          <table class="table table-bordered table-condensed fill-minitable">
            <thead>
              <tr><td>Qty</td><td></td><td>Price</td><td>Date</td></tr>
            </thead>
            <tbody>
              <tr ng-repeat="fill in trade.fills">
                <td> {{fill.qty}}</td>
                <td> @ </td>
                <td>{{fill.avgPx}}</td> 
                <td>{{fill.date | date:'medium'}}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
