<dl class="dl-horizontal">
  <dt>Total Trades:
  <dd>{{data.trades.length}}
  <dt>Net Cash:
  <dd>{{data.netCash | currency}}
  <dt>Win Percent
  <dd>{{data.wins / data.trades.length | percent}}
  <dt>Wins
  <dd>{{data.wins}}
  <dt>Losses
  <dd>{{data.losses}}
</dl>
<table class="table table-condensed table-striped table-bordered">
  <thead>
    <tr>
      <th></th>
      <th  ng-click="predicate = 'symbol'; reverse=!reverse">Symbol</th>
      <th  ng-click="predicate = 'netCash'; reverse=!reverse">Net Cash</th>
      <th  ng-click="predicate = 'openDate'; reverse=!reverse">Open Date</th>
      <th  ng-click="predicate = 'closeDate'; reverse=!reverse">Close Date</th>
      <th  ng-click="predicate = 'notes'; reverse=!reverse">Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="trade in data.trades | orderBy:predicate:reverse">
      <td><button ng-click="showTradeDetails(trade)" class="btn btn-small">Details</button></td>
      <td>{{trade.symbol}}</td>
      <td>{{trade.netCash  | currency}}</td>
      <td>{{trade.openDate | date:'shortDate'}}</td>
      <td>{{trade.closeDate | date:'shortDate'}}</td>
      <td>{{trade.notes }}</td>
    </tr>
  </tbody>
</table>

