*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

# vim stuff
*.swp
*.swo
.DS_Store
node_modules
gen/
tmp/*
