@import "assets/bootstrap/less/bootstrap.less";

div.chart-wrapper 
  { width: 100% ;

  svg.chart 
    { width: auto
    ; height: auto
    ; }
}
body {padding:0 !important;}
.hscroll {overflow-x: scroll; max-height: 20em;  } 
.modal 
  { form { margin: 0 !important;} }
ul#upload_container_filelist
  { height: 5em
  ; 
  li {line-height: 1.2em;  }
  }
th.sortable 
  { text-decoration: underline
  ; color: blue 
    
  }
