@import "assets/bootstrap/less/bootstrap.less";

.hscroll {overflow-x: scroll; max-height: 20em;  } 
ul#upload_container_filelist
  { height: 5em
  ; 
  li {line-height: 1.2em;  }
  }
th.sortable 
  { text-decoration: underline
  ; color: blue 
    
  }
