extends layout

block content
  if isDev 
    a.btn.btn-info(href="/test/users/set" ) dummy login

  
  .container
    .hero-unit
      div
        h1 UNLEASH YOUR TRADING POWER
        p  The cloud based solution to manage daytrading profitability
        p
          br
        p
          i
            | NOTE: TradeJitsu IS A PRERELEASE PRODUCT AND WE ACCEPT ZERO LIABILITY
            | FOR ANY TRADING LOSSES GENERATED AS A RESULT OF THIS PLATFORM OR ANYTHING
            | OF THE SORT.
            
    .row
      .span4
        div
          h2
            | Simple Simple Integration
          p
            | TradeJitsu parses trade reports from InteractiveBrokers and
            | TradeStation.  Just email your reports to a special dropbox
            | address and take advantage of all the analysis capabilities of TradeJitsu.
      .span4
        div
          h2
            | Save Time in Excel
          p
            | TradeJitsu gives you powerful analysis to optimize your 
            | trading strategies. Learn what works and what does not while
            | avoiding time-consuming, tedious work in Excel.  
      .span4
        div
          h2
            | We're here to help!
          p
            | Want a new feature, just tell us and we'll get right on it!
            | Your feedback is critical to us and at this stage, adding new
            | analytics is simple.  
