extends layout

block content

  .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container-fluid
          a.brand(href='#')
            | pnltracker.com
          ul.nav
            li
              a(href='mailto:info@pnltracker.com') 
                | Contact
    .container-fluid
      .hero-unit
        div
          h1 Welcome to PnLTracker!
          p  PnLTracker is a cloud based tool to help you analyze your profitability.
          p
            br
          p
            i
              | NOTE: PNLTRACKER IS A PRERELEASE PRODUCT AND WE ACCEPT ZERO LIABILITY
              | FOR ANY TRADING LOSSES GENERATED AS A RESULT OF THIS PLATFORM OR ANYTHING
              | OF THE SORT.
          .row-fluid
            .span6
              div(style='text-align: right;')
                | Sign in or Register:
            .span3
              a.btn(href="/auth/facebook") authenticate with facebook
            .span3
              a.btn(href="/auth/google") authenticate with google
              
      if isDev 
        .row-fluid
          .span12
            a.btn(href="/test/users/set" ) dummy login
        hr
      .row-fluid
        .span4
          div
            h2
              | Simple Simple Trade PnL Analysis
            p
              | PnLTracker analyzes your trades.  Save time in Excel
              | by using PnLTracker to break down your trading history and 
              | find out what works and what doesn't.
          a.btn(href='#')
            | View details »
        .span4
          div
            h2
              | Works with IB and TradeStation
            p
              | PnLTracker will assign you an email dropbox, just make a 
              | filter to send your IB trade reports to that address and 
              | you're done.  
            p
              | For TradeStation, you'll need to upload your PDF trade reports
              | manually.  We're working on this, we promise.
          a.btn(href='#')
            | View details »
        .span4
          div
            h2
              | We're here to help!
            p
              | Want a new feature, just tell us and we'll get right on it!
              | Your feedback is critical to us and at this stage, adding new
              | analytics is simple.  
          a.btn(href='#')
            | View details »
      hr
      div
        | © Max Cantor 2012

